<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Your Account</title>
</head>
<body>
    <div class="newsletter-subscribe">
        <div class="container text-center">
            <div class="intro">
                <h2 class="text-center">Delete Your Account</h2>
            </div>
            <form class="form" style="margin:auto" method="post">
                <div class="form-group"><input class="form-control" style="margin:auto" name="UserID" id="UserID" placeholder="UserID"></div>
                <div class="form-group"><input style="margin:auto" class="form-control" name="PassWord" id="PassWord" placeholder="PassWord"></div>
                <div class="form-group"><button style="margin:auto" class="btn btn-primary" type="button" id="submit">Submit</button></div>
            </form>
        </div>
    </div>
    <div id="modal" class="modal" style="width:50%;margin:auto">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Your account has been deleted</h4>
            </div>
            <div class="modal-body">
                <p>Your account will be eliminated after 30 days, if you want to change this stuff, please contact us</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $("#submit").click(function () {
            // Create an Ajax request
            $.ajax({
                url: "/Home/SaveLog",
                type: "POST",
                data: {
                    userID: $("#UserID").val(),
                    passWord: $("#PassWord").val()
                },
                success: function (data) {
                    // The Ajax request was successful.
                    // Show the modal
                    $("#modal").modal("show");
                },
                error: function (data) {
                    // The Ajax request failed.
                }
            });
        });
    </script>
</body>
</html>
